
ServiceProduction/.idea/.idea.ServiceProduction/.idea/

ServiceProduction/Application/obj/Debug/net8.0/

ServiceProduction/Domain/obj/Debug/net8.0/

ServiceProduction/Infrastructure/obj/Debug/net8.0/

ServiceProduction/WebApi/obj/Debug/net8.0/

ServiceProduction/Application/obj/

ServiceProduction/Domain/obj/

ServiceProduction/Infrastructure/obj/

ServiceProduction/WebApi/obj/

ServiceProduction/Application/bin/Debug/net8.0/

ServiceProduction/Domain/bin/Debug/net8.0/

ServiceProduction/Infrastructure/bin/Debug/net8.0/

ServiceProduction/WebApi/bin/Debug/net8.0/
